HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# MacOSのシステムファイル
.DS_Store
.Trash/
.CFUserTextEncoding

# ユーザーの設定ファイル
.bash_profile
.gitconfig
.ssh/
.vscode/

# その他の不要なディレクトリ
.android/
.m2/
.npm/
.cache/
.local/
.config/
.gradle/
.bundle/
.composer/
.gem/
.dotnet/
.nuget/
.swiftpm/
.zsh_sessions/
.zsh_history
# 無視するファイルやディレクトリ
.CFUserTextEncoding
.IdentityService/
.android/
.aspnet/
.bash_profile
.bundle/
.cache/
.composer/
.config/
.cups/
.dotnet/
.gem/
.git-templates/
.gitconfig
.gitignore_global
.gradle/
.h2.server.properties
.lesshst
.local/
.m2/
.mono/
.ms_eclipsetemurinjdk_config
.ms_openjdk_config
.mysql_history
.netrc
.npm/
.nuget/
.plastic4/
.profile
.rbenv/
.ssh/
.sts4/
.swiftpm/
.templateengine/
.viminfo
.vscode/
.webdrivers/
.yarnrc
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
1.rb
2.rb
3.rb
4.rb
Applications/
Desktop/
Downloads/
JavaScript/
Library/
Local Sites/
Movies/
Music/
Pictures/
Projects/
Public/
RunGame/
Sites/
Untitled-1ßß
Untitled-1.ini